<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <!--<add name="ProductDb" connectionString="Data Source=JDSP108;Initial Catalog=CMS_DOTNET;User ID=jddesenv;Password=jddesenv;Persist Security Info=True;" providerName="System.Data.SqlClient"/>-->
    <add name="ProductDb" connectionString="Data Source=CMS-NOTE\SQLEXPRESS;Initial Catalog=CMS_DOTNET;User ID=sa;Password=sa;Persist Security Info=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.diagnostics>
    <trace autoflush="false" indentsize="3" />
    <sources>
      <source name="MyProgram.Source1" switchName="MyProgram.Switch1">
        <listeners>
          <add name="Console" type="System.Diagnostics.ConsoleTraceListener"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="MyProgram.Switch1" value="Information"/>
    </switches>
  </system.diagnostics>
</configuration>