<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="Setting1" value="May 5, 2014"/>
    <add key="Setting2" value="May 6, 2014"/>
    <add key="BatchFile" value="blah.bat" />
    <add key="appSetting1" value="1000" />
  </appSettings>

  <applicationSettings>
    <Airbrake.Data.SqlClient.SqlException.Properties.Settings>
      <setting name="SqlUserID" serializeAs="String">
        <value>[username]</value>
      </setting>
      <setting name="SqlPassword" serializeAs="String">
        <value>[password]</value>
      </setting>
      <setting name="SqlConnectionString" serializeAs="String">
        <value>Server=[server],1433;Initial Catalog=[catalog];Persist Security Info=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</value>
      </setting>
    </Airbrake.Data.SqlClient.SqlException.Properties.Settings>
  </applicationSettings>

</configuration>