@{
    ViewData["Title"] = "Usuario Page";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's USERS.</p>

<br>

<div class="table-responsive-sm">
    <table id="myTable" class="table table-sm table-striped table-borderless table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th>Nome</th>
                <th>Situacao</th>
            </tr>
        </thead>
        <tbody>
            @foreach (JDSVRCabineWeb.Models.Usuario item in Model)
            {
                <tr id="Tr-@item.Id">
                    <th scope="row">@item.Id</th>
                    <td>@item.Nome</td>
                    <td>@item.Situacao</td>
                </tr>
            }
        </tbody>
    </table>
</div>
