<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <appSettings>
      <add key="UrlBase" value="https://localhost:7176/api/"/>
      <add key="UserID" value="teste1@gmail.com"/>
      <add key="AccessKey" value="123"/>
    </appSettings>
</configuration>
