<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CMS.ADO.Console.Properties.Settings.AdventureWorks2016ConnectionString"
            connectionString="Data Source=JDSP108;Initial Catalog=AdventureWorks2016;Persist Security Info=True;User ID=jddesenv"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>