<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Test_ADO_Net_2.Properties.Settings.AdventureWorks2008ConnectionString"
            connectionString="Data Source=JE-DELL\SQLEXPRESS;Initial Catalog=AdventureWorks2008;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>