
<h3 class="mt-5">Dados do Sitema</h3>

<p><span class="font-weight-bold">Versão:</span>  @Model.VersaoSistema </p>
<p><span class="font-weight-bold">Descrição:</span> @Model.Descricao </p>
<p><span class="font-weight-bold">Conexão:</span>  @Model.ConnString </p>
