@inject IHostingEnvironment env

<link href="~/css/estilo-colors.min.css" rel="stylesheet" />
<h1 class="colors">Sobre</h1>
<p class="colors">Página usando sass</p>
<br />
<p>Ambiente: @env.EnvironmentName</p>
